{
	"~\Uf714" = "noop:";
	"" = "deleteBackward:";
	"^\t" = "selectNextKeyView:";
	"~\Uf715" = "noop:";
	"^V" = "pageDownAndModifySelection:";
	"^\n" = "insertLineBreak:";
	"~\Uf716" = "noop:";
	"\U0003" = "insertNewline:";
	"~\Uf717" = "noop:";
	"~\Uf718" = "noop:";
	"^\n" = "insertLineBreak:";
	"~\Uf719" = "noop:";
	"\b" = "deleteBackward:";
	"@^\Uf701" = "makeBaseWritingDirectionNatural:";
	"~\Uf71a" = "noop:";
	"\t" = "insertTab:";
	"\n" = "insertNewline:";
	"~\Uf71b" = "noop:";
	"@^\Uf702" = "makeBaseWritingDirectionRightToLeft:";
	"~\Uf71c" = "noop:";
	"\n" = "insertNewline:";
	"~\Uf71d" = "noop:";
	"@^\Uf703" = "makeBaseWritingDirectionLeftToRight:";
	"~\Uf71e" = "noop:";
	"~\Uf71f" = "noop:";
	"~\Uf720" = "noop:";
	"^a" = "moveToBeginningOfParagraph:";
	"~\Uf721" = "noop:";
	"^b" = "moveBackward:";
	"~\Uf722" = "noop:";
	"@~ " = "cycleToNextInputKeyboardLayout:";
	"~\Uf723" = "noop:";
	"^d" = "deleteForward:";
	"\U0019" = "insertBacktab:";
	"~\Uf724" = "noop:";
	"^e" = "moveToEndOfParagraph:";
	"^\U0019" = "selectPreviousKeyView:";
	"\U001b" = "cancelOperation:";
	"~\Uf725" = "noop:";
	"^f" = "moveForward:";
	"~\Uf726" = "noop:";
	"~\Uf727" = "noop:";
	"^h" = "deleteBackward:";
	"~\Uf728" = "deleteWordForward:";
	"~\Uf729" = "noop:";
	"~\Uf72a" = "noop:";
	"^k" = "deleteToEndOfParagraph:";
	"~\U0003" = "insertNewlineIgnoringFieldEditor:";
	"\Uf700" = "moveUp:";
	"^l" = "centerSelectionInVisibleArea:";
	"~\Uf72b" = "noop:";
	"\Uf701" = "moveDown:";
	"~\Uf72c" = "pageUp:";
	"$\Uf729" = "moveToBeginningOfDocumentAndModifySelection:";
	"\Uf702" = "moveLeft:";
	"\Uf703" = "moveRight:";
	"~\Uf72d" = "pageDown:";
	"^n" = "moveDown:";
	"\Uf704" = "noop:";
	"^\"" = "insertDoubleQuoteIgnoringSubstitution:";
	"\Uf705" = "noop:";
	"^o" = (
		"insertNewlineIgnoringFieldEditor:",
		"moveBackward:",
	);
	"$\Uf72b" = "moveToEndOfDocumentAndModifySelection:";
	"~\Uf72e" = "noop:";
	"\Uf706" = "noop:";
	"~\Uf72f" = "noop:";
	"^p" = "moveUp:";
	"$\Uf72c" = "pageUpAndModifySelection:";
	"~\b" = "deleteWordBackward:";
	"\Uf707" = "noop:";
	"~\Uf730" = "noop:";
	"$\Uf72d" = "pageDownAndModifySelection:";
	"\Uf708" = "complete:";
	"~\t" = "insertTabIgnoringFieldEditor:";
	"^\Uf700" = "scrollPageUp:";
	"^~" = "deleteWordBackward:";
	"\Uf70a" = "noop:";
	"~\Uf731" = "noop:";
	"~\n" = "insertNewlineIgnoringFieldEditor:";
	"^\Uf701" = "scrollPageDown:";
	"~\Uf732" = "noop:";
	"\Uf709" = "noop:";
	"\Uf70b" = "noop:";
	"\Uf70c" = "noop:";
	"^\Uf702" = "moveToLeftEndOfLine:";
	"^'" = "insertSingleQuoteIgnoringSubstitution:";
	"^t" = "transpose:";
	"~\Uf733" = "noop:";
	"\Uf70d" = "noop:";
	"^\Uf703" = "moveToRightEndOfLine:";
	"\Uf70f" = "noop:";
	"~\Uf734" = "noop:";
	"\Uf70e" = "noop:";
	"~\n" = "insertNewlineIgnoringFieldEditor:";
	"\Uf710" = "noop:";
	"~\Uf735" = "noop:";
	"^v" = "pageDown:";
	"\Uf711" = "noop:";
	"\Uf712" = "noop:";
	"~\Uf736" = "noop:";
	"\Uf713" = "noop:";
	"~\Uf737" = "noop:";
	"\Uf714" = "noop:";
	"\Uf715" = "noop:";
	"~\Uf738" = "noop:";
	"^y" = "yank:";
	"\Uf716" = "noop:";
	"\Uf717" = "noop:";
	"~\Uf739" = "noop:";
	"\Uf718" = "noop:";
	"~\Uf73a" = "noop:";
	"\Uf719" = "noop:";
	"\Uf71a" = "noop:";
	"^/" = "insertRightToLeftSlash:";
	"~\Uf73b" = "noop:";
	"@" = "noop:";
	"\Uf71b" = "noop:";
	"\Uf71c" = "noop:";
	"~\Uf73c" = "noop:";
	"\Uf71d" = "noop:";
	"~^b" = "moveWordBackward:";
	"~\Uf73d" = "noop:";
	"\Uf71e" = "noop:";
	"\Uf71f" = "noop:";
	"~\Uf73e" = "noop:";
	"\Uf720" = "noop:";
	"^" = "deleteBackwardByDecomposingPreviousCharacter:";
	"\Uf721" = "noop:";
	"~\Uf73f" = "noop:";
	"\Uf722" = "noop:";
	"\Uf723" = "noop:";
	"~\Uf740" = "noop:";
	"\Uf724" = "noop:";
	"~\Uf741" = "noop:";
	"\Uf725" = "noop:";
	"\Uf726" = "noop:";
	"~\Uf742" = "noop:";
	"\Uf727" = "noop:";
	"~\U001b" = "complete:";
	"\Uf728" = "deleteForward:";
	"~\Uf743" = "noop:";
	"\Uf729" = "scrollToBeginningOfDocument:";
	"~^f" = "moveWordForward:";
	"~\Uf744" = "noop:";
	"\Uf72a" = "noop:";
	"\Uf72b" = "scrollToEndOfDocument:";
	"~\Uf745" = "noop:";
	"\Uf72c" = "scrollPageUp:";
	"\Uf72d" = "scrollPageDown:";
	"~\Uf746" = "noop:";
	"@ " = "cycleToNextInputScript:";
	"\Uf72e" = "noop:";
	"~\Uf747" = "noop:";
	"\Uf72f" = "noop:";
	"\Uf730" = "noop:";
	"\Uf731" = "noop:";
	"\Uf732" = "noop:";
	"\Uf733" = "noop:";
	"\Uf734" = "noop:";
	"\Uf735" = "noop:";
	"\Uf736" = "noop:";
	"@\Uf700" = "moveToBeginningOfDocument:";
	"\Uf737" = "noop:";
	"@~^\Uf701" = "makeTextWritingDirectionNatural:";
	"@\Uf701" = "moveToEndOfDocument:";
	"\Uf738" = "noop:";
	"~\Uf700" = (
		"moveBackward:",
		"moveToBeginningOfParagraph:",
	);
	"^A" = "moveToBeginningOfParagraphAndModifySelection:";
	"\Uf739" = "delete:";
	"@\Uf702" = "moveToLeftEndOfLine:";
	"~\Uf701" = (
		"moveForward:",
		"moveToEndOfParagraph:",
	);
	"\Uf73a" = "noop:";
	"^" = "noop:";
	"^B" = "moveBackwardAndModifySelection:";
	"@\Uf703" = "moveToRightEndOfLine:";
	"~\Uf702" = "moveWordLeft:";
	"\Uf73b" = "noop:";
	"\Uf73c" = "noop:";
	"\Uf73d" = "noop:";
	"$\Uf700" = "moveUpAndModifySelection:";
	"@$\Uf700" = "moveToBeginningOfDocumentAndModifySelection:";
	"\Uf73e" = "noop:";
	"@~^\Uf702" = "makeTextWritingDirectionRightToLeft:";
	"^$\Uf702" = "moveToLeftEndOfLineAndModifySelection:";
	"$\Uf701" = "moveDownAndModifySelection:";
	"\Uf73f" = "noop:";
	"~\Uf703" = "moveWordRight:";
	"\Uf740" = "noop:";
	"~\Uf704" = "noop:";
	"$\Uf702" = "moveLeftAndModifySelection:";
	"\Uf741" = "noop:";
	"~\Uf705" = "noop:";
	"@$\Uf701" = "moveToEndOfDocumentAndModifySelection:";
	"\Uf742" = "noop:";
	"$\Uf703" = "moveRightAndModifySelection:";
	"@~^\Uf703" = "makeTextWritingDirectionLeftToRight:";
	"~\Uf706" = "noop:";
	"~$\Uf700" = "moveParagraphBackwardAndModifySelection:";
	"~\Uf707" = "noop:";
	"\Uf744" = "noop:";
	"\Uf743" = "noop:";
	"@$\Uf702" = "moveToLeftEndOfLineAndModifySelection:";
	"\Uf745" = "noop:";
	"@." = "cancelOperation:";
	"~\Uf708" = "noop:";
	"\Uf746" = "noop:";
	"~$\Uf701" = "moveParagraphForwardAndModifySelection:";
	"@$\Uf703" = "moveToRightEndOfLineAndModifySelection:";
	"\Uf747" = "noop:";
	"~\Uf709" = "noop:";
	"^$\Uf703" = "moveToRightEndOfLineAndModifySelection:";
	"^E" = "moveToEndOfParagraphAndModifySelection:";
	"^F" = "moveForwardAndModifySelection:";
	"~\Uf70a" = "noop:";
	"~^B" = "moveWordBackwardAndModifySelection:";
	"~^F" = "moveWordForwardAndModifySelection:";
	"~$\Uf702" = "moveWordLeftAndModifySelection:";
	"~\Uf70b" = "noop:";
	"~\Uf70c" = "noop:";
	"@" = "deleteToBeginningOfLine:";
	"~$\Uf703" = "moveWordRightAndModifySelection:";
	"~\Uf70d" = "noop:";
	"^N" = "moveDownAndModifySelection:";
	"~" = "deleteWordBackward:";
	"~\Uf70e" = "noop:";
	"^\U0003" = "insertLineBreak:";
	"~\Uf70f" = "noop:";
	"@^ " = "togglePlatformInputSystem:";
	"^P" = "moveUpAndModifySelection:";
	"~\Uf710" = "noop:";
	"~\Uf711" = "noop:";
	"~\Uf712" = "noop:";
	"~\Uf713" = "noop:";
}