body {
    font-family: sans-serif;
    font-weight: 200;
    cursor: default;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table > thead > tr > td {
    line-height: 64px;
    font-size: 24px;
    font-weight: bold;
}

table > tbody > tr > td{
    vertical-align: top;
    line-height: 20px;
    padding: 2px;
}

table > tbody > tr > td.result, table > thead > tr > td.result{
    width: 24px;
    text-align: center;
    line-height: 20px;
    padding-top: 4px;
}

table > tbody > tr > td.name, table > thead > tr > td.name{
    white-space: nowrap;
}

table > tbody > tr > td.error{
    color: rgb(204,0,0);
}

table > tbody > tr.suite > td.name{
    font-weight: bold;
}

table > tbody > tr.suite-summary > td.name{
    font-weight: bold;
}

table > tbody {
    border-bottom: 1px solid rgb(192,204,224);
}