name: Deploy

on:
  push:
    branches:
      - prod

permissions:
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          registry-url: 'https://registry.npmjs.org'
          node-version: 24

      - name: Bootstrap Install
        run: npm install

      - name: Bootstrap Install (again)
        run: npm install

      - name: Build
        run: npx jskit make Command/jskit

      - name: Publish
        run: npm publish builds/io.breakside.jskit/latest/jskit
        env:
          NPM_CONFIG_PROVENANCE: true
